<%= form_for([@session, @climb]) do |f| %>
  <% if @climb.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@climb.errors.count, "error") %> prohibited this climb from being saved:</h2>

      <ul>
      <% @climb.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.number_field :grade, value: 0, class: 'dial', data: { min: 0, max: 15, angleArc: 350, angleOffset: 185, } %>
      <%= f.label :grade %><br />
</div>
  <div class="field">
    <%= f.number_field :difficulty, value: 0, class: 'dial', data: { min: 0, max: 10, angleArc: 350, angleOffset: 185, } %>
    <%= f.label :difficulty %><br />
  </div>
  <div class="field">
    <%= f.number_field :steepness, value: 0, class: 'dial', data: { min: 0, max: 180, step: 5, angleArc: 180, angleOffset: 90, rotation: 'anticlockwise' } %>
    <%= f.label :steepness %><br />
  </div>
  <div class="state">
    <%= f.radio_button( :state, "flash") %><label class='state_label' for="climb_state_flash"><span>Flash</span></label>
    <%= f.radio_button( :state, "RP") %><label class='state_label' for="climb_state_rp"><span>RP</span></label>
    <%= f.radio_button( :state, "fail") %><label class='state_label' for="climb_state_fail"><span>Fail</span></label>
  </div>
  <div class="actions">
    <%= f.submit 'Log' %>
  </div>
<% end %>

<script>
  $(function() {
      $(".dial").knob();
  });
</script>